/*==================================================
            LEARNOVATION FINANCE
            RESPONSIVE CSS
==================================================*/


/*=========================================
            TABLET (992px)
=========================================*/

@media (max-width:992px){

    .hero-container{

        grid-template-columns:1fr;

        text-align:center;

    }

    .hero-content p{

        margin:0 auto 35px;

    }

    .hero-buttons{

        justify-content:center;

    }

    .stocks-grid{

        grid-template-columns:repeat(2,1fr);

    }

    .features-grid{

        grid-template-columns:repeat(2,1fr);

    }

    .learn-grid{

        grid-template-columns:repeat(2,1fr);

    }

    .analysis-grid{

        grid-template-columns:repeat(2,1fr);

    }

    .footer-grid{

        grid-template-columns:repeat(2,1fr);

    }

}